@font-face {
  font-family: Modern;
  src: url('./fonts/ModernWarfare-8MM6z.ttf');
}
@font-face {
  font-family: Brain;
  src: url('./fonts/BrainWants-ODYe.ttf');
}
@font-face {
  font-family: Nunito;
  src: url('./fonts/NunitoRegular-vmABZ.ttf');
}
@font-face {
  font-family: NunitoBold;
  src: url('./fonts/NunitoBold-1GD50.ttf');
}

/* General body sector options */

body{
  padding: 0px;
  margin: 0px;
}

/* Navigation sector 1 */
.screenimage{
  display: flex;
  position: absolute;
  align-content: center;
  z-index: 3;
  margin-top: 33%;
}
.firstimg{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.sec_1{
  width: 100%;
  height: 100%;
  padding: 3%;
  background-image: url('./immagini/blu.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sec_1_header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  float: right;
  font-family: Nunito;
  margin-bottom: 5%;
}
.mainTitle{
  color: #FFFFFF;
  font-family: NunitoBold;
  margin: 0px;
}
.MainLogo{
  height: 4%;
  width: 4%;
  margin-right: 2%;
}
.navmenu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  float: right;
}
.navElements{
  font-size: 100%;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
#navmenuButton{
  text-align: center;
  background-color: #182854;
  border-color: #5485FC;
  color: #5485FC;
  border-style: solid;
  border-width: 1.4px;
  font-family: NunitoBold;
  border-radius: 50px;
  width: 100%;
  outline: 0;
  outline: 0;
}
#navmenuButton:hover{
  background-color: rgba(36,57,112, 0.5);
  transition: 0,8s;
}
#navmenuButton:active{
  background-color: white;
}
.list{
  color: #FFFFFF;
  margin-right: 30px;
  outline: 0;
}
.list:hover{
  color: rgba(128, 128, 128, 0.5);
  text-decoration: none;
  transition: 0,8s;
}
.list:active{
  color: white;
}
/* Info sector 1 */

.sec_1_infoStart{
  text-align: center;
  margin: 10%;
  line-height: 80%;
  font-family: Nunito;
  color: #FFFFFF;
}
#line_1{
  font-size: 40px;
  color: #D9DCE1;
}
#line_2{
  font-size: 20px;
  color: #C4C5C9;
  margin-top: 3%;
  margin-bottom: 2%;
}
#sec_1_infoStartButton{
  border-radius: 50px;
  width: 200px;
  height: 43px;
  margin-top: 4%;
  margin-bottom: 15%;
  text-align: center;
  background-color: #5485FC;
  border: none;
  font-family: NunitoBold;
  font-size: 20px;
  color: #FFFFFF;
  outline: 0;
}
#sec_1_infoStartButton:hover{
  background-color: rgba(36,57,112, 0.5);
  border-style: solid;
  border-color: #5485FC;
  color: #5485FC;
  transition: 0,8s;
  outline: 0;
}
#sec_1_infoStartButton:active{
  background-color: white;
}


/* Section 1 done, start of section 2 */
.sec_2{
  padding: 10%;
  font-family: Nunito;
}
.totalecarte{
  margin-bottom: 10%;
  margin-top: 13%;
}
.card{
  text-align: center;
  padding: 10px;
  position: sticky;
  border-style: none;
}
.imgc{
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}
.cardtitle{
  font-family: NunitoBold;
}
.buttondiv{
  display: table;
  margin: 0 auto;
}
.textdiv{
  margin-bottom: 50PX;
  overflow: hidden;
}
.bttn{
  border-radius: 50px;
  width: 150px;
  height: 38px;
  border-style: solid;
  background-color: white;
  border-color: grey;
  padding: 0px;
  margin: 0px;
  outline: 0;
}
.bttn:hover{
  background-color: #5485FC;
  transition: 0,8s;
  outline: 0;
}

.bttn:active{
  background-color: white;
  outline: 0;
}
.sec_2_info{
  display: flex;
  flex-direction: row;
}
.info{
}
.titoloinfo{
  font-size: 40px;
}
.sottinfo{
  margin-top: 70px;
  margin-right: 70px;
}
.sottinfo_1{
  display: flex;
  flex-direction: row;
  color: #5485FC;
}
.imgcheck{
  margin-right: 5px;
}
